# Entorno virtual
.venv/
venv/

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
.env
*.sqlite3

# Archivos de Colab descargados
*.ipynb_checkpoints/
